/nbactions.xml
/nb-configuration.xml
/clarity.properties
/testconf.properties
/*.log
/*.unison.*
/*.iml
/*.old
/*.txt
/target/
/data/
/luke/
/logs/
/profiler/
/results.txt
/contrib/*_output.xml
/contrib/clef-solr/
src/test/resources/_*.txt
src/test/resources/_fixedTestIndexContent_*
.idea/
.gradle/
gradle-app.setting
/*.jar
/src/main/resources/schema/*.xml
/src/main/resources/nlpModels/
Rplots.pdf
configuration.properties
/score-ics-*/
/scoring-*/