/nbactions.xml
/nb-configuration.xml
/clarity.properties
/*.log
/*.unison.*
/*.iml
/target/
/data/
/luke/
/logs/
/profiler/
/results.txt
/contrib/*_output.xml
/contrib/clef-solr/
src/test/resources/_*.txt
src/test/resources/_fixedTestIndexContent_*
.idea/
/*.jar
/src/main/resources/schema/*.xml