/nbactions.xml
/nb-configuration.xml
/clarity.properties
/*.log
/*.unison.*
/*.iml
/target/
/data/
/luke/
/logs/
/profiler/
/results.txt
/contrib/*_output.xml
/contrib/clef-solr/
/test/resources/_*.txt